<div *ngIf="management">
  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
          Management details
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th>id</th>
              <td>{{management.id}}</td>
            </tr>
            <tr>
              <th>name</th>
              <td>{{management.name}}</td>
            </tr>
            <tr>
              <th>created</th>
              <td>{{management.created}}</td>
            </tr>
            <tr>
              <th>updated</th>
              <td>{{management.updated}}</td>
            </tr>
            <tr>
              <th>deletion mark</th>
              <td>{{management.deletionMark}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
          Used in departments
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
            <tr *ngFor="let department of management.departments">
              <td>{{department.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="goBack()">back</button>
  <button type="button" class="btn btn-warning" (click)="updateManagement()">change</button>
</div>
