<div class="row">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        Update dealer
      </div>
      <div class="card-body">
        <form [formGroup]="dealerForm" (ngSubmit)="update()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="inn">inn</label>
            <input type="text" class="form-control" id="inn" aria-describedby="inn" formControlName="inn" required>
          </div>
          <div class="form-group">
            <label for="dealerType">Select dealer type</label>
            <select class="form-control" id="dealerType" aria-describedby="dealerType" formControlName="dealerType" required>
              <option *ngFor="let type of dealerTypes"
                      value="{{type}}">{{type}}</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary mt-4" [disabled]="dealerForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
